# -----------------------------
# Flutter generated code
# -----------------------------
android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
windows/** linguist-vendored
macos/** linguist-vendored
web/** linguist-vendored
build/** linguist-vendored

# -----------------------------
# Ignore native languages
# -----------------------------
*.c linguist-ignore
*.cpp linguist-ignore
*.h linguist-ignore
*.cmake linguist-ignore
CMakeLists.txt linguist-ignore
*.swift linguist-ignore

# -----------------------------
# Force Dart
# -----------------------------
*.dart linguist-language=Dart
