# Normalize line endings
* text=auto eol=lf

# Hide all PHP diffs first
*.php -diff

# Re-enable diff specifically for Blade files
*.blade.php diff=html

# Enable Dart diffs
*.dart diff=dart

# Hide other file types
*.css -diff
*.html -diff
*.md -diff
*.js -diff
*.json -diff
*.yml -diff
*.yaml -diff

# Exclude files from archive exports
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
