# Normalize line endings
* text=auto eol=lf

# Force Blade files to be recognized properly
*.blade.php linguist-language=Blade

# Force Dart files
*.dart linguist-language=Dart

# Hide ALL other PHP files from language stats
*.php linguist-vendored

# Optional: hide other unwanted languages
*.css linguist-vendored
*.html linguist-vendored
*.js linguist-vendored
*.json linguist-vendored
*.yml linguist-vendored
*.yaml linguist-vendored
*.md linguist-vendored

# Exclude files from archives
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
